<h1>About</h1>


	<div class="container" id="about">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag("bangles.jpg", class:"img-responsive bangles") %>
			</div><!--/col-->
		
			<div class="col-md-4">
				<h1 id="blurb">At <strong>Desire,</strong><br>we create<br> unique handcrafted<br>pieces for you...</h1>
					<br><%= image_tag("range_rings.jpg", class:"img-responsive range_rings") %>
			</div><!--/col-->
		
			<div class="col-md-4">
				<%= image_tag("plant_ring.jpg", class:"img-responsive plant_ring") %>
			</div><!--/col-->
		</div><!--/row-->

		<div class="row" id="display_images">
			<div class="col-md-4">
				<%= image_tag("two_rings.jpg", class:"img-responsive two_rings") %>
			</div><!--/col-->
		
			<div class="col-md-4">
				<h4 id="shop_online">SHOP ONLINE</h4>
			</div><!--/col-->
		
			<div class="col-md-4">
				<%= image_tag("watch_ring.jpg", class:"img-responsive watch_ring") %>
			</div><!--/col-->
		</div><!--/row-->
	</div><!--/container-->

<%= link_to "Back", root_path, class:"btn btn-default" %>
