<h1>Contact</h1>

	<div class="container-fluid" id="contact">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  		<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="headingOne">
      		<h4 class="panel-title">
        		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How do I find my ring size?
        		</a>
      		</h4>
    		</div>
    		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      		<div class="panel-body">
        		Visiting a local jeweller and having them measure your finger professionally is by far the best way to determine your ring size. If you are unable to do this however, please feel free to use our sizing chart as the next best option. Please note that this is merely a guide, so we cannot be held responsible should you experience an optimistic glass slipper moment and order gazillions of rings that don’t fit over your knuckles. Please be sure before ordering.
      		</div>
    		</div>
  		</div>
  		<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="headingTwo">
      		<h4 class="panel-title">
        		<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          		How long will it take me to get my product?
        		</a>
      		</h4>
    		</div>
    		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      		<div class="panel-body">
        		All our online purchases are made to order, which means we’ll need roughly 10 working days from the day you pay to process and manufacture your order. Once your piece is complete and has passed our quality control, it will then be shipped. Local shipping takes around 3 to 5 days, where international can take between 2 and 5 weeks.
      		</div>
    		</div>
  		</div>
  		<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="headingThree">
      		<h4 class="panel-title">
        		<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          		Do you engrave?
        		</a>
      		</h4>
    		</div>
    		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      		<div class="panel-body">
        		We do not currently have engraving facilities, however you can take your special piece to any engraver to get the job done.
      		</div>
    		</div>
  		</div>
    
		
      <div class="contact_row">
        <div class="col-md-4">
          <h3>Mobile:<br> +64 27 4249770</h3>
        </div>
        
        <div class="col-md-4">
          <h3>Email:<br> Nathalie19@live.co.za</h3>
        </div>
      
        <div class="col-md-4">
          <h3>Address:<br> Tauranga, New Zealand</h3>
        </div>
      </div>

      <div class="contact_star_row">
        <div class="col-md-4">
          <p>***</p>
        </div>
        
        <div class="col-md-4">
          <p>**</p>
        </div>
      
        <div class="col-md-4">
          <p>*</p>
        </div>
      </div>
    </div>
	</div><!--/container-->

  <!--Message Form -->

  <%= flash[:notice] %>

  <%= form_with(url: "/static_pages/thank_you") do |form| %>
    <div class="row">
      <div class="col-md-6" id="message_box">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
        </div>        
        <div class="form-group">
          <%= form.label :email, "Email Address" %>
          <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
        </div>
        <div class="form-group">
          <%= form.label :message %>
          <%= form.text_area :message, class: "form-control", placeholder: "Enter Message" %>
        </div>        
      </div>
      <div class="col-md-6">
        <%= image_tag("artsy-vibes.jpg", class:"img-responsive artsy_vibes") %>
      </div>
    </div>
    <%= form.submit "Send" %>   
  <% end %>


<%= link_to "Back", root_path %>
