<div class="container">
	<h1> Orders - Show </h1>
		<div class="row">
			<div class="col-md-6 col-xs-12">
			<p id="notice"><%= notice %></p>

			<p><strong>User ID:</strong><%= order.user_id %></p>

			<p><strong>Product:</strong><%= order.product.name %></p>
			  
			<p><strong>Total:</strong>$<%= order.total %></p>

			<%= link_to 'Back', products_path, class:"btn btn-default" %>
		</div>
	</div>
</div>

