
<div class="col-sm-2 col-md-4" id="prod_info">
  <%= image_tag(product.image_url, class: "img-responsive img-catalogue") %>
  <h3><%= product.name %></h3></a>
  <h5><%= product.description %></h5>
  <p>&#36;<strong><%= product.price %></strong></p>

 <span id="product_links">
  <p><%= link_to 'Show', product %></p>
  <p><%= link_to 'Edit', edit_product_path(product) %></p>
  <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </span>

</div><!-- /col -->

   