<div>
	<p id="notice"><%= notice %></p>
</div>

<div container-fluid class="product_show">
	
	<div class="row" data-product-id="<%= @product.id %>">

		<div class="col-xs-12 col-md-7">
				<%= image_tag(@product.image_url, class:"img-responsive thumbnail img-zoom", data_zoom_image: "@product.image_url") %>
		</div><br>


		<div class="col-xs=12 col-md-5 text-center item_info">

			<% cache @product do %>
				<p><strong>Name:</strong><br><%= @product.name %></p><br>
				<p><strong>Description:</strong><br><%= @product.description %></p><br>
				<p><strong>Price:</strong><br><%= @product.price %></p>
				<!--<p><strong>Image url:</strong><br><%= @product.image_url %></p><br>-->
			<% end %>
			<h3 class="viewed">Views:
			<span class="badge">
			    <%= @product.views %>
			 </span>
			</h3> 
			<!--added a scope code to comment.rb file to select an array of records for best ratings-->
			<p><b>Highest Rating:</b><div class="rated" data-score="<%= @product.highest_rating_comment.try(:rating) %>"></div></p>
			<p><b>Average Rating:</b><div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div></p> 

			<%= form_with(url: '/payments/create') do |form| %>
				<%= render partial: "shared/stripe_checkout_button" %>
				<%= hidden_field_tag(:product_id, @product.id) %>
			<% end %>

		</div>
	</div>

	
	<div class="comments">

		<%= render partial: 'new_comment' %>
		<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
		<%= render 'comments' %>
	
	</div>

	
	<div class="apple_pagination">

		<%= will_paginate @comments %>

	</div>
		
</div><!--/container-->
<br>
<br>

	<% if current_user && current_user.admin? %>
	<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-default" %> | <% end %> 
	<%= link_to 'Back', products_path, class:"btn btn-default" %>
