<div container-fluid class="product_show">

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <br>
	  <%= @product.name %>
	</p>
	<br>

	<p>
	  <strong>Description:</strong>
	  <br>
	  <%= @product.description %>
	</p>
	<br>

	<p>
	  <strong>Image url:</strong>
	  <br>
	  <%= @product.image_url %>
	</p>

	<p>
		<strong>Price:</strong>
		<br>
		<%= @product.price %>
	</p>



</div><!--/container-->

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
